#song-name-list ul {
  font-family: "Arial", sans-serif;
  font-size: 1.4em;
}
nav * {
  font-family: "Arial", sans-serif;
}
footer {
  /*color: lightgrey;*/
  font-size: smaller;
}
div.tabContent {
  /*border: 1px solid #c9c3ba; */
  /*font-size: 300%;*/
  font-family: "Arial", sans-serif;
  font-size: 4.6em;
  font-weight: bold;
}
